<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="robots" content="NOINDEX, NOFOLLOW" />
    <title>Thesis</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/104/three.js"></script>
</head>
<body>
<div class="container" style="margin: 30px;">
  <div class="row">
     <h4 style="margin: 30px;"> <span class="badge badge-secondary">All MACs </span></h4>   
  </div>
    <div class="row">
        <div class="col">
            <div class="list-group" th:each="entry, iterationStatus : ${distinctMacAddresses}">
                <a th:href="@{'/routes/' + ${entry}}" class="list-group-item list-group-item-action" th:text="${iterationStatus.index} + ' - ' + ${entry}"></a>             
            </div>     
        </div>
        <div class="col">
            <div class="row">
                <h4 style="margin: 30px;"> <span class="badge badge-secondary">Summary </span></h4>   
            </div>
            <div class="stats-div">
                <ul class="list-group">
                    <li class="list-group-item active" th:text="'Total: ' + ${totalentries}"></li>
                 </ul>             
            </div>
            <div class="row" style="margin: 30px;">
                <a class="btn btn-primary" th:href="@{/}" role="button">Back</a>
                <a class="btn btn-info" th:href="@{/alltrajectories}" role="button" style="margin-left: 15px;">Show trajectories for all MACs</a>
            </div>
        </div>
     </div>   
</div>
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
   <script src="http://code.jquery.com/jquery-1.6.4.min.js" type="text/javascript"></script>
  </body>
</html>