<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="robots" content="NOINDEX, NOFOLLOW" />
    <title>Thesis</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/104/three.js"></script>
</head>
<body>
<div class="container" style="margin: 30px;"> 
     <div class="row">
         <h4 style="margin: 30px;"> <span class="badge badge-secondary">All Clusters </span></h4>   
    </div>
    <div class="row">
        <div class="col-12">        
            <div class="list-group" th:each="entry : ${clusters}">
                <a th:href="@{'/cluster/' + ${entry.id}}" class="list-group-item list-group-item-action" th:text="'Cluster: ' + ${entry.id}"></a>             
            </div> 
            <div class="row" style="margin-top: 30px;margin-left: 30%;">
                <a class="btn btn-warning" th:href="@{/allclusters}" role="button" style="margin-left: 15px;">Show all Cluster's Records</a>
                <a class="btn btn-warning" th:href="@{/allclustercentroids}" role="button" style="margin-left: 15px;">Show all Cluster's Centroids</a>
                <a class="btn btn-primary" th:href="@{/alltrajectories}" role="button" style="margin-left: 15px;">Back</a>
            </div>           
        </div>
     </div>   
</div>
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
   <script src="http://code.jquery.com/jquery-1.6.4.min.js" type="text/javascript"></script>
  </body>
</html>